.app-container {
    background-color: #f0f0f0;
}

.card-container {
    height: 300px;
    width:80%;
    margin:auto;
    margin-top:5%;
}
.side-by-side {
    display:flex !important;
    flex-direction: row;
}